.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.countryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.countryFlagImage {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: solid 3px transparent;
}

.playerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.avatarImage {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: solid 3px;
}

.bottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.unitsContainer {
    display: flex;
    align-items: center;
}

.units {
    margin-left: 5px;
}

.moneyContainer {
    display: flex;
    align-items: center;
}

.money {
    margin-left: 5px;
}

.upgradesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.upgradeHouseContainer {
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.upgradeHouseContainer button {
    width: 65px;
    height: 30px;
}

.upgradeBankContainer {
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.upgradeBankContainer button {
    width: 65px;
    height: 30px;
}

.upgradeMoveContainer {
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.upgradeMoveContainer button {
    width: 65px;
    height: 30px;
}