.item:hover {
    background-color: rgba(255, 255, 255, 0.63) !important;
}

.image {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: solid 5px;
}

.itemContent {
    display: flex;
}

.itemToFlag {
    width: 25px;
    height: 20px;
    border-radius: 10%;
}

.itemFromFlag {
    width: 25px;
    height: 20px;
    border-radius: 10%;
}

.itemLineContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemLineContainer {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
}

.itemLineTo {
    align-self: start;
    width: 100px;
    height: 3px;
    background-color: rgb(255, 62, 62);
    animation: lineToAnimation 2s infinite;
}

@keyframes lineToAnimation {
    from {
        background-color: rgb(255, 62, 62); 
        width: 10px;
    }
    to {
        background-color: rgb(255, 153, 153); 
        width: 100px;
    }
}

.itemLineFrom {
    align-self: start;
    width: 100px;
    height: 3px;
    background-color: rgb(15, 148, 33);
    animation: lineFromAnimation 2s infinite;
}

@keyframes lineFromAnimation {
    from {
        background-color: rgb(15, 148, 33); 
        width: 10px;
    }
    to {
        background-color: rgb(116, 177, 121); 
        width: 100px;
    }
}


