.root {
    display: flex;
}

.paper {
    background-color: rgba(0, 0, 0, 0.322) !important;
}

.button {
    height: 50px;
    width: 50px !important;
    min-width: 50px !important;
    border-radius: 0px !important;
    border-top-right-radius: 30% !important;
    border-bottom-right-radius: 30% !important;
}